
#text2.active2_1 {
	text-decoration: line-through;
}

#text2.active2_2 {
	font-weight: 800;
}

#text2.active2_3 {
	color: red;
}


#text3.active3_1 {
	text-decoration: line-through;
}

#text3.active3_2 {
	font-weight: 800;
}

#text3.active3_3 {
	color: red;
}